@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h1>Secured</h1>

@section scripts {
    
    <script>

        $(document).ready(() => {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:5001/chatHub", {
                    transport: signalR.HttpTransportType.WebSockets
                })
                .configureLogging(signalR.LogLevel.Information)
                .build();

            connection.on("Send", (name, msg) => {
                console.log(name + " " + msg);
            });

            connection
                .start()
                .then(() => {
                    connection.invoke("Send", "Luka", "Hello!");
                });

        });

    </script>

}